.jquery-mapper-container.jquery-mapper-container-locations {
    position: relative;
    height: $container-height;
    min-width: $container-min-width;
    margin: auto;
    
    .jquery-mapper-map {
        height: 100%;
        max-width: 67%;
        width: 100%;
        display: inline-block;
    }

    .jquery-mapper-controls {
        height: 100%;
        max-width: 33%;
        width: 100%;
        display: inline-block;
        vertical-align: top;

        div.location-item {
            display: block;
            position: relative;
            min-height: 55px;
            padding: 6px 6px 6px 64px;
            max-width: 100%;
            margin-bottom: 6px;
            margin-left: 6px;
            background: $location-item-default-colour;

            span {
                display: block;
                font-size: $location-item-meta-size;
            }

            span.title {
                font-weight: bold;
                text-align: $title-align;
                font-size: $title-size;
            }

            span.address {
                text-decoration: italic;
                text-align: left;
            }

            span.phone {
                color: $location-item-meta-colour;
            }
        }

        div.location-item.active {
            background: $location-item-active-colour;
        }

        div.location-item:hover {
            background: $location-item-hover-colour;
            cursor: pointer;
        }

        div.location-item::before {
            position: absolute;
            content: '';
            height: 32px;
            width: 32px;
            background: url($location-item-icon) no-repeat;
            top: 20px;
            left: 16px;
            opacity: 0.1;
        }

        div.location-item.icon-supplied::before {
            display: none;
        }

        div.location-item.icon-supplied > img {
            position: absolute;
            left: 16px;
            top: 20px;
            max-height: 32px;
            max-width: 32px;
        }
    }
}